html,
body {
    padding: 0px;
    margin: 0px;
}

nav {
    background: white;
}

#btn-signUp {
    background: #5F2EEA;
    border-radius: 8px;
}

.nav-item a {
    margin-right: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #414141;
}

.dropdown-toggle a {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.005em;

    color: #414141;

}

.form-inline {
    display: none;
}



/* Jumbotron */

.jumbotron {
    padding-top: 120px;
    background: white;
    height: 600px;
}

.title-jumbotron {
    padding-top: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 1px;
    color: #14142B;
}

.sub-title-jumbotron {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.sub-title-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #8692A6;
}

.sub-title-title-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.5px;
    color: #000000;
}

.sub-title-sub-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #121212;
    margin-top: -20px;
}

.detail-jumbotron {
    display: flex;
}

.sub-detail-jumbotron {
    padding-right: 50px;
}

.card-jumbotron {
    height: 430px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 10px;
    margin-right: 5px;

}

.card-img-jumbotron {
    height: 362.8311767578125px;
    width: 236.71746826171875px;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 16px;
}


/* Showtimes */
#showTimes {
    height: 230px;
    margin-top: 150px;
    padding-top: 30px;
    text-align: center;
}

.title-show {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    padding-bottom: 20px;
    color: #14142B;
}

.dropdown-show {
    display: flex;
    justify-content: center;
}

.dropdown-showTimes {
    margin-right: 30px;
    background: #EFF0F6;
    border-radius: 16px;
    height: 56px;
    width: 250px;
    left: 0px;
    top: 0px;
    border-radius: 16px;

}

.dropdown-showTimes p {
    padding-top: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #4E4B66;
}


/* schedule */
#schedule {
    padding-top: 20px;
    height: 800px;
}

.card-schedule {
    background: #FFFFFF;
    height: 350px;
    width: 361px;
    border-radius: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-schedule-1 {
    background: #FFFFFF;
    height: 350px;
    width: 361px;
    border-radius: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-schedule-2 {
    background: #FFFFFF;
    height: 350px;
    width: 361px;
    border-radius: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-schedule-special {
    height: 350px;
    width: 361px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 24px;
}

.title-schedule {
    display: flex;
    padding-top: 20px;
}

.title-img {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

.title-schedule .title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.title-schedule .sub-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

.detail-date {
    display: flex;
}

.title-date {
    padding-left: 30px;
    padding-right: 5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.75px;
}

.detail-price {
    display: flex;
}

.text-price {
    padding-left: 30px;
    padding-right: 180px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6B6B6B;
}

.text-price1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #000000;
}

.detail-booking {
    display: flex;
}

.btn-schedule {
    margin-left: 20px;
    background: #5F2EEA;
    height: 40px;
    width: 134px;
    box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
    border-radius: 8px;
    color: #F7F7FC;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.text-booking {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    padding-left: 80px;
    padding-top: 10px;
}

.line-schedule {
    display: flex;
    padding-top: 30px;
}

.text-schedule {
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #5F2EEA;
}

.line-schedule hr {
    flex-grow: 2;
    /* padding-bottom: 50px; */
    border: 1px solid #DEDEDE;
    transform: rotate(180deg);
}




/* footer */
footer {
    height: 400px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text-footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

.text-footer1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

.text-footer2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #6E7191;
}

.text-footer3 {
    text-align: center;
    padding-top: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}


.img-footer {
    padding-bottom: 30px;
}




@media only screen and (max-width: 600px) {
    .form-inline {
        display: inline;
    }

    #search {
        display: none;
    }

    .nav-item a {
        margin-left: -40px;
    }

    .img-user {
        display: none;
    }

    /* 
    .card-jumbotron {
        height: 308px;
        width: 100px;
        border-radius: 8px;
    }

    .card-img-jumbotron {
        height: 244px;
        width: 159px;
        border-radius: 6px;

    } */
    /* Jumbotron-mobile */
    .jumbotron {
        height: 1160px;
    }

    .title-jumbotron {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
    }

    .sub-title-jumbotron {
        font-size: 16px;
        line-height: 32px;
        color: #4E4B66;
        text-align: center;
    }

    .sub-detail-jumbotron {
        padding-right: 10px;
    }

    .sub-title-title {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
    }

    .sub-title-sub-title {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
    }

    .sub-title-title-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
    }

    .sub-title-sub-title {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.75px;
    }

    /* shotimes-mobile */

    #showTimes {
        margin-top: -70px;
        padding-top: -50px;
        background: #F5F6F8;
        height: 300px;
    }

    .title-show {
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.75px;
    }

    .dropdown-show {
        display: inline;

    }

    .dropdown-showTimes {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        background: #EFF0F6;
        height: 48px;
        width: 260px;
        border-radius: 4px;
    }

    /* schedule-mobile */
    #schedule {
        background: #F5F6F8;
        height: 900px;
    }

    .card-schedule {
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        border-radius: 8px;
    }

    .card-schedule-1 {
        display: none;
    }

    .card-schedule-2 {
        display: none;
    }

    .card-schedule-special {
        display: none;
    }

    /* footer */
    footer {
        height: 400px;
        margin-top: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #000000;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .text-footer {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .explore {
        display: flex;
        justify-content: space-around;
    }

    .text-footer1 {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .text-footer3 {
        text-align: left;
        padding-bottom: 20px;
    }

    .img-footer {
        padding-right: 20px;
        padding-bottom: 30px;
        width: 30%;
    }
}