html,
body {
    padding: 0px;
    margin: 0px;
}

nav {
    background: white;
}

#btn-signUp {
    background: #5F2EEA;
    border-radius: 8px;
}

.nav-item a {
    margin-right: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #414141;
}

.dropdown-toggle a {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.005em;

    color: #414141;

}

.form-inline {
    display: none;
    position: relative;
}

.search-icon {
    position: absolute;
    margin-top: -30px;
    margin-left: 15px;
}


/* Mulai choose seat */
.payment-info {
    height: 1250px;
    background: #F5F6F8;
    padding-top: 80px;
}

.text-title-info {
    padding-top: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
}

.text-title-info-1 {
    padding-top: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
}

.card-choose-info {
    width: 720px;
    height: 413px;

    background: #FFFFFF;
    border-radius: 24px;
}

.card-choose-info1 {
    width: 720px;
    height: 368px;

    background: #FFFFFF;
    border-radius: 24px;
}

.card-choose-info2 {
    height: 548px;
    width: 345px;
    border-radius: 16px;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
    border-radius: 16px;
}

.btn-before {
    margin-top: 30px;
    margin-right: 110px;
    margin-left: 20px;
    padding-top: 10px;
    border: 2px solid #5F2EEA;
    box-sizing: border-box;
    border-radius: 16px;
    height: 56px;
    width: 300px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5F2EEA;
}

.btn-next {
    margin-top: 30px;
    padding-top: 10px;
    background: #5F2EEA;
    border-radius: 16px;
    height: 56px;
    width: 300px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #F7F7FC;
}

.order-info {
    display: flex;
    padding-top: 80px;
    padding-left: 60px;
}

.title-order-info {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #6B6B6B;
}

.title-order-info-total {

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;

    color: #6B6B6B;
}

.sub-title-order-info {
    padding-left: 100px;

    text-align: right;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
}

.sub-title-order-info-total {
    padding-left: 100px;

    text-align: right;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
}

.logo-payment-card {
    display: flex;
}

.card-logo {
    padding-top: 70px;
}

.card-logo-1 {
    padding-top: 70px;
}

.card-payment {
    padding-top: 10px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    height: 56px;
    width: 146px;
}

.card-payment1 {
    padding-top: 10px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
    height: 56px;
    width: 146px;
}

.or {
    display: flex;
}

.or hr {
    flex-grow: 2;
    border: 1px solid #DEDEDE;
    transform: rotate(180deg);
}

.text-or {
    flex-grow: 1;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #A0A3BD;
}

.sub-text-or {
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

.sub-text-or span {
    color: #5F2EEA;
}

label {
    margin-top: 35px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #696F79;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5rem;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-group .form-control {
    width: 100%;
    padding: 1em;
    margin-top: 30px;
    padding-left: 2.375rem;
    background: rgba(244, 183, 64, 0.3);
    box-sizing: border-box;
    border-radius: 16px;
}

.form-group .form-control-icon {
    position: absolute;
    margin-top: 8px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #4E4B66;
}

/* Akhir choose seat */


/* footer */
footer {
    height: 400px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.text-footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.75px;
    color: #6E7191;
}

.text-footer1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

.text-footer2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #6E7191;
    margin-left: 20px;
}

.text-footer3 {
    text-align: center;
    padding-top: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}

.img-footer {
    padding-bottom: 30px;
}

.text-credit {
    display: none;
    margin-left: 70px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: #6E7191;
}


@media only screen and (max-width: 600px) {
    .form-inline {
        display: inline;
    }

    #search {
        display: none;
    }


    .nav-item a {
        border-bottom: 0.5px solid #DEDEDE;
        margin-bottom: 30px;
        text-align: center;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.75px;
        color: #14142B !important;

    }

    .dropdown {
        text-align: center;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.75px;
        color: #14142B;
        margin-bottom: 10px;
    }

    .dropdown-menu {
        margin-left: 100px;
    }

    .text-credit {
        display: inline;
    }


    .img-user {
        display: none;
    }

    /* payment-mobile */
    .payment-info {
        height: 1250px;
        background: #F5F6F8;
        padding-top: 80px;
    }

    .text-title-info {
        padding-top: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #14142B;
    }

    .text-title-info-1 {
        display: none;
    }

    .card-choose-info {
        height: 64px;
        width: 100%;
        box-shadow: 0px 4px 16px rgba(186, 186, 186, 0.08);
        border-radius: 0px 0px 16px 16px;
    }

    .card-choose-info .title-order-info {
        display: none;
    }

    .card-choose-info .sub-title-order-info {
        display: none;
    }

    .card-choose-info hr {
        display: none;
    }

    .title-order-info-total {
        text-align: left;
        margin-top: -60px;
        margin-left: -75px;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #AAAAAA;
    }

    .sub-title-order-info-total {
        margin-top: -60px;
        margin-left: 75px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.75px;
        color: #14142B;
    }


    .card-choose-info1 {
        margin-left: auto;
        margin-right: auto;
        height: 242px;
        width: 327px;
        border-radius: 16px;
        background: #FFFFFF;
    }


    .card-logo {
        margin-top: -50px;
        margin-left: 10px;
    }

    .card-logo-1 {
        display: flex;
        margin-top: 12px;
        margin-left: -190px;
    }

    .card-logo-1 .card-img-logo {
        width: 30%;
    }

    .card-img-logo {
        width: 50%;
    }

    .card-payment {
        padding-top: -100px;
        text-align: center;
        border: 0.5px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 80px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .card-payment1 {
        display: none;
    }

    .card-choose-info2 {
        margin-left: auto;
        margin-right: auto;
        height: 440px;
        width: 327px;
    }

    label {
        margin-top: 8px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.75px;
        color: #696F79;
    }

    input {
        padding: 0.8em;
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }

    .form-group .form-control {
        margin-top: 20px;
        border-radius: 16px;
    }

    .btn-before {
        display: none;
    }

    .btn-next {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    /* footer */
    footer {
        height: 400px;
        margin-top: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #000000;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .text-footer {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .explore {
        display: flex;
        justify-content: space-around;
    }

    .text-footer1 {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.75px;
        color: #6E7191;
    }

    .text-footer2 {
        display: none;
    }

    .text-footer3 {
        text-align: left;
        padding-bottom: 20px;
    }

    .follow-us {
        display: flex;
    }

    .title-follow-us {
        margin-top: 80px;
        padding-right: 100px;
        margin-left: -50px;
    }

    .img-footer {
        padding-right: 20px;
        padding-bottom: 30px;
        width: 30%;
    }
}